/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Standard font for text */
body {
    font-family: 'Roboto', 'Roboto', sans-serif;
}

/* Font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Roboto Condensed', sans-serif;
}

/* BOOTSTRAP OVERRIDE STYLES */
/* Root (updates text etc.) */
:root {
  --bs-primary: rgb(0, 93, 165);
  --bs-primary-rgb: 0, 93, 165;
}

/* Button styles */
.btn-primary {
  --bs-btn-bg: rgb(0, 93, 165);
  --bs-btn-border-color: rgb(0, 93, 165);
  --bs-btn-hover-bg: rgb(0, 70, 125);
  --bs-btn-hover-border-color: rgb(0, 70, 125);
}

.btn-outline-primary {
  --bs-btn-color: rgb(0, 93, 165);
  --bs-btn-border-color: rgb(0, 93, 165);
  --bs-btn-hover-bg: rgb(0, 93, 165);
  --bs-btn-hover-border-color: rgb(0, 93, 165);
  --bs-btn-hover-color: #fff;
}

/* GENERAL PAGE STYLES */
/* Page styles */
.section-background-offwhite {
    background: rgb(226, 233, 235);
}

.section-background-blue {
    background: rgb(0, 93, 165);
}

.section-background-grey {
    background: rgb(242, 242, 242);
}




