/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Standard font for text */
body {
    font-family: 'Roboto', 'Roboto', sans-serif;
}

/* Font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Roboto Condensed', sans-serif;
}

/* BOOTSTRAP OVERRIDE STYLES */
/* Text styles */
.text-primary {
    color: rgb(0, 93, 165) !important;
}

/* Button styles */
.btn-primary {
    background: rgb(0, 93, 165);
    border: rgb(0, 93, 165);
}

.btn-primary:hover {
    background: rgb(0, 70, 125);
    border: rgb(0, 70, 125);
}

.btn-outline-primary {
    color: rgb(0, 93, 165);
    border-color: rgb(0, 93, 165);
}

.btn-outline-primary:hover {
    background-color: rgb(0, 93, 165);
    border-color: rgb(0, 93, 165);
}

/* GENERAL PAGE STYLES */
/* Page styles */
.section-background-offwhite {
    background: rgb(226, 233, 235);
}

.section-background-blue {
    background: rgb(0, 93, 165);
}

/* Navbar styles */
.nav-underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 93, 165);
    transition: width 0.3s ease;
}

.nav-link:hover .nav-underline,
.nav-link.active .nav-underline {
    width: 100%;
}



