/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Navbar styles */
.nav-underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 93, 165);
    transition: width 0.3s ease;
}

.nav-link:hover .nav-underline,
.nav-link.active .nav-underline {
    width: 100%;
}

/* Banner / hero section on homepage */



/* Page styles */
.section-background-offwhite {
    background: rgb(226, 233, 235);
}

.section-background-blue {
    background: rgb(0, 93, 165);
}

.text-colour-blue {
    color: rgb(0, 93, 165);
}

