/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

/* Navbar styles */
.navbar-accent {
    height: 6px;
    background: rgb(35, 120, 210);
}

.nav-underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(35, 120, 210);
    transition: width 0.3s ease;
}

.nav-link:hover .nav-underline,
.nav-link.active .nav-underline {
    width: 100%;
}

/* Banner on homepage */
.hero-section {
    position: relative;
    height: 70vh;
    background: url("/assets/images/Ramblers2025.jpg");
}

.hero-panel {
    background: rgba(226, 233, 235, 0.88);
    height: 100%;
}

/* Countdown on homepage */
.countdown-item {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-align: center;
}

.countdown-item+.countdown-item {
    margin-left: -25px;
}

@media (max-width: 768px) {
    .countdown-item {
        width: 120px;
    }

    .countdown-item+.countdown-item {
        margin-left: -20px;
    }
}

@media (max-width: 480px) {
    .countdown-item {
        width: 100px;
    }

    .countdown-item+.countdown-item {
        margin-left: -15px;
    }
}

/* Homepage styles */
.homepage-section-background {
    background: rgb(226, 233, 235);
}

