@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

/* Font styles */
body {
  font-family: 'Jost', sans-serif;
}

p {
  font-size: 1.06rem;
}

h1 {
  font-size: 4rem;
}

.h1hero {
  font-size: 5rem;
   text-shadow:.3vw .3vw 4px rgb(20, 20, 20);
   font-weight: 700;
}

@media (max-width: 768px) {
  .h1hero {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2.7rem;
}

h4 {
  font-size: 1.7rem;
}

/* Root (updates text from bootstrap etc.) */
:root {
  --bs-primary: #b22527 !important; 
  --bs-primary-rgb: 178, 37, 39 !important;
}

/* Button styles */
.btn-primary {
  --bs-btn-bg: #b22527;
  --bs-btn-border-color: #ce9596;
  --bs-btn-hover-bg: #A51E1E;
  --bs-btn-hover-border-color: #A51E1E;
  font-weight: 500;
  font-size: 1.1rem;

}

.btn-outline-primary {
  --bs-btn-color: #b22527;
  --bs-btn-border-color: #b22527;
  --bs-btn-hover-bg: #b22527;
  --bs-btn-hover-border-color: #b22527;
  --bs-btn-hover-color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

/* Navbar styles */
.nav-item{
  font-weight: 500;
  font-size: 1.05rem;
}



.dropdown-item {
  font-weight: 500;
}

/* Hero masthead styles */
.masthead {
  background-size: cover;
  min-height: 70vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.masthead-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.masthead-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.masthead-content {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .masthead {
    min-height: 35vh;
  }
}