/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Font styles */
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f8f9fa;
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 17px;
}

/* Root (updates text from bootstrap etc.) */
:root {
  --bs-primary: #b22527 !important; 
  --bs-primary-rgb: 178, 37, 39 !important;
}

/* Button styles */
.btn-primary {
  --bs-btn-bg: #b22527;
  --bs-btn-border-color: #ce9596;
  --bs-btn-hover-bg: #A51E1E;
  --bs-btn-hover-border-color: #A51E1E; 

}

.btn-outline-primary {
  --bs-btn-color: #b22527;
  --bs-btn-border-color: #b22527;
  --bs-btn-hover-bg: #b22527;
  --bs-btn-hover-border-color: #b22527;
  --bs-btn-hover-color: #fff;
}

.bg-whitered {
  background-color: #fbf4f4;
}


/* Hero masthead styles */
.masthead {
  background-size: cover;
  min-height: 70vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.masthead-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.masthead-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.masthead-content {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .masthead {
    min-height: 30vh;
  }
}